.top_bar {

    background-color: #1db954;

    position: fixed;
    left: 1%;
    top: 1vmin;

    height: 7vmin;
    width: 98%;

    text-align: left;
    text-indent: 1%;
    font-size: 5vmin;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    border-radius: 1vmin;

}

.github_button {

    background-color: #1db954;

    position: relative;
    margin-left: -1.5vmin;

    width: 10vmin;
    height: 1.5vmin;

    white-space: nowrap;
    overflow: hidden;

    font-size: 1vmin;
    color: black;
    text-decoration: none;

    border: none;

    cursor: pointer;
    
}

.github_button:hover {

    text-decoration: underline;

}

.main_square {

    background-color: #181818;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 50vmin;
    height: 50vmin;

    border-radius: 3vmin;

}

#album_images {

    position: relative;

    top: -12vmin;
    padding-left: 1vmin;

    height: auto;

}

#album_images img {

    position: relative;
    margin: 0;
    top: 1vmin;
    left: 1vmin;

    width: auto;
    height: 90%;

    display: block;

}

#album_images h1 {

    position: relative;
    margin: 0;
    bottom: 90%;
    left: 20vmin;
    
    font-size: 4vmin;
    text-decoration: underline;

    white-space: nowrap;

}

#album_images h2 {

    position: relative;
    margin: 0;
    bottom: 87%;
    left: 20vmin;

    font-size: 3vmin;

}

#album_images h3 {

    position: relative;
    margin: 0;
    bottom: 55%;
    left: 20vmin;

    font-size: 2vmin;

}

.main_square_text {

    position: absolute;
    margin: 0;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    height: 6vmin;
    width: 50vmin;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vmin;
    color: white;
    text-align: center;

}

.login_button {

    background-color: #282828;

    position: absolute;
    margin: 0;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 6vmin;
    width: 15vmin;

    white-space: nowrap;
    overflow: hidden;

    border: 0.5vmin solid #1db954;
    border-radius: 5vmin;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vmin;
    cursor: pointer;

}

.login_button:hover {

    background-color: #1db954;

}

.loading_bar_outside_circle {

    background-color: #1db954;
    color: white;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 11vmin;
    height: 11vmin;

    border-radius: 50%;

}

.loading_bar_middle_circle {

    background-color: #181818;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 10.6vmin;
    height: 10.6vmin;

    border-radius: 50%;

}

.loading_bar_inner_circle {

    background-color: #1db954;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 9.6vmin;
    height: 9.6vmin;

    border-radius: 50%;

}

.loading_bar_center_circle {

    background-color: #282828;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 9.2vmin;
    height: 9.2vmin;

    border-radius: 50%;

}

.loading_bar_moving_circle {

    background-color: white;

    position: absolute;
    top: 0;
    bottom: 10.1vmin;
    left: 0;
    right: 0;
    margin: auto;

    width: 0.5vmin;
    height: 0.5vmin;

    border-radius: 50%;

}

.loading_bar_percentage {

    color: white;

    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 4vmin;

}